<div class>
  <%= link_to "つぶやく", new_tweet_path,class: "btn btn-outline-warning btn-block" %>
</div>

<div class>
  <%= link_to "離乳食レシピを投稿する", new_babyfood_path,class: "btn btn-outline-warning btn-block" %>
</div>