<div class>
  <%= link_to new_tweet_path,class: "btn btn-outline-warning btn-block" do %>
    <ul class="fa-ul">
      <li>
        <i class="fas fa-feather-alt"></i>
        つぶやく
      </li>
    </ul>
  <% end %>
</div>

<div class>
  <%= link_to "離乳食レシピを投稿する", new_babyfood_path,class: "btn btn-outline-warning btn-block" %>
</div>