<div class="container">

  <div class="row">
    <div class="col">
      <h1>赤ちゃんとの一言日記</h1>
      <div>いつも育児お疲れ様です<br>
      今日のお子様のご様子はいかがでしたでしょうか？<br>
      ぜひ一言つぶやいて喜びやちょっとした悩みを<br>
      共有していってください<br>
      （お相手のことを思いやってご利用いただけますと幸いです）</div>

      <div class="row">
        <div class="col-6">
          <%= link_to 'ログイン',new_customer_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <%= link_to '新規登録',new_customer_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
        </div>
      </div>

    </div>
  </div>
</div>