<div class = "container ml-auto">
  <div class="form-group row">
    <div class="col-6 text-center">
      <h1>つぶやき投稿</h1>
      <div>
        ※つぶやきは登録していただいたニックネームで投稿されます
      </div>
      <%= form_with model: @tweet, url: tweets_path, method: :post do |f| %>
        <%= f.text_area :content, class: 'form-control',size: "10x5" %><br>
        <%= f.submit '投稿' %>
      <% end %>
    </div>
  </div>
</div>