<div class = "container ml-auto">
  <div class="form-group row">
    <div class="col-6 text-center">
      <h1>つぶやき投稿</h1>
      <p class="text-danger">
        <% if @tweet.errors.any? %>
          <%= @tweet.errors.count %>件が空欄または200文字以上です
        <% end %>
      </p>
      <div>
        ※つぶやきは登録していただいたニックネームで投稿されます
      </div>
      <%= form_with model: @tweet, url: tweets_path, method: :post do |f| %>
        <%= f.text_area :content, class: 'form-control',size: "10x5" %><br>
        <%= f.submit '投稿',class: "btn btn-lg btn-warning mt-4 mb-3" %>
      <% end %>
    </div>
  </div>
</div>